h1 {
  text-align: center;
  font-weight: 400;
}

.userItems {
  display: flex;
  outline: 1px solid black;
}

.userItem {
  flex: 50%;
  display: inherit;
  padding: 0.5em;
  //flex-flow: row nowrap;
  //margin: auto;
  border: 1px solid black;
  justify-content: space-between;
}
