h1 {
  text-align: center;
  font-weight: 400;
}

// table {
//   width: 100%;
//   border-collapse: collapse;
//   //text-align: justify;
//   table-layout: fixed;
// }

// td:nth-child(1) {
//   text-align: left;
//   border: 1px solid black;
//   //border-right: 0;
// }

// td:nth-child(2) {
//   text-align: right;
//   border: 1px solid black;
//   //border-left: 0;
// }

.userItems {
  display: flex;
  outline: 1px solid black;
}

.userItem {
  flex: 50%;
  display: inherit;
  padding: 0.5em;
  //flex-flow: row nowrap;
  //margin: auto;
  border: 1px solid black;
  justify-content: space-between;
}
